*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#fafafa;
    min-height:100vh;
}

.container{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    padding:20px;
}

.left-side{
    display:flex;
    align-items:center;
    justify-content:center;
}

.left-side img{
    width:380px;
}

.right-side{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.login-box{
    width:350px;
    background:white;
    border:1px solid #dbdbdb;
    border-radius:8px;
    padding:40px;
    text-align:center;
}

.logo{
    margin-bottom:25px;
}

.logo img{
    width:90px;
    height:auto;
    display:block;
    margin:0 auto;
}

.login-box input{
    width:100%;
    padding:12px;
    margin-bottom:10px;
    border:1px solid #dbdbdb;
    border-radius:12px;
    background:#fafafa;
    outline:none;
}

.login-box button{
    width:100%;
    padding:12px;
    border:none;
    background:#0064e0;
    color:white;
    border-radius:20px;
    font-weight:bold;
    cursor:pointer;
    font-size:15px;
}

.forgot{
    display:block;
    margin-top:20px;
    text-decoration:none;
    color:#000;
    font-size:14px;
}

.bottom-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:15px;
}

.signup-box{
    width:350px;
    background:white;
    border:1px solid #dbdbdb;
    border-radius:8px;
    padding:20px;
    text-align:center;
}

.CNA{
    width:100%;
    padding:12px;
    border-radius:50px;
    border:1px solid #0064e0;
    background:white;
    color:#0064e0;
    font-size:16px;
    cursor:pointer;
}

.meta{
    margin-top:25px;
}

.meta img{
    width:90px;
    height:auto;
}

/* MOBILE */
@media screen and (max-width:768px){

    .container{
        padding:15px;
    }

    .left-side{
        display:none;
    }

    .right-side{
        width:100%;
    }

    .login-box{
        width:100%;
        max-width:380px;
        border:none;
        background:transparent;
        padding:20px;
    }

    .signup-box{
        width:100%;
        max-width:380px;
        background:transparent;
        border:none;
        padding:10px 0;
    }

    .logo img{
        width:90px;
    }

    .meta img{
        width:80px;
    }
}